<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="GardenPi web page">
        <meta name="author" content="Stefano Prina <stefano-prina@outlook.it">

        <title>GardenPi</title>

        <!-- Custom fonts for this template-->
        <link href="{{url}}/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{url}}/static/css/sb-admin-2.min.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

        <!-- Page Wrapper -->
        <div id="wrapper">
        
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url}}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">GardenPi</div>
                </a>
        
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
        
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{url}}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Home</span></a>
                </li>
        
                <!-- Divider -->
                <hr class="sidebar-divider">
        
                <!-- Heading -->
                <div class="sidebar-heading">
                    Graphs
                </div>

                <!-- Nav Item - Air Temperature -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}/air-temperature">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Air Temperature</span></a>
                </li>

                <!-- Nav Item - Air Humidity -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}/air-humidity">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Air Humidity</span></a>
                </li>

                <!-- Nav Item - External Light -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}/light">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>External Light</span></a>
                </li>

                <!-- Nav Item - Soil Moisture -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}/soil-moisture">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Soil Moisture</span></a>
                </li>

                <!-- Nav Item - Watering System Status -->
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}/watering-sys-status">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Watering System Status</span></a>
                </li>
            </ul>
            <!-- End of Sidebar -->
       
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">{{page_name}}</h1>
                </div>

                <!-- Page Content -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <p class="h3 mb-0 text-gray-800">{{page_description}}</p>
                </div>
                
                <div class="row h-75">

                    <div class="col-10 h-100">
                        <!-- Area Chart -->
                        <div class="card shadow h-100">
                            <a href="#collapse24h" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapse24h">
                                <h6 class="m-0 font-weight-bold text-primary">Last 24H</h6>
                            </a>

                            <div class="card-body h-100">
                                <div class="chart-area" >
                                <canvas id="DataChart" height="100%" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <!-- Control Card -->
                        <div class="card shadow align-top">
                            <div class="card-header py-3">
                                <h6 class="font-weight-bold text-primary">Controls</h6>
                            </div>
                            <div class="card-body">

                                <form action="/cmd" method="post" target="hiddenFrame">
                                    <label for="cars">Request an Action:</label>
                                    <select id="cmd" name="cmd">
                                        <option value="water_enable">Enable Water</option>
                                        <option value="water_disable">Disable Water</option>
                                        <option value="water_on">Water On</option>
                                        <option value="water_off">Water Off</option>
                                        <option value="read_values">Request Fresh Data</option>
                                    </select>
                                    <input type="hidden" name="src_page" value="{{page_name}}">
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{{url}}/static/vendor/jquery/jquery.min.js"></script>
        <script src="{{url}}/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{url}}/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{url}}/static/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="{{url}}/static/vendor/chart.js/Chart.min.js"></script>

        <script>
            var ctx = document.getElementById('DataChart');

            var DataChart = new Chart(ctx, {
                type:"{{graph_type}}",
                data: {
                    labels: {{labels|tojson}},
                    datasets: [{
                        label: "{{page_name}}",
                        data: {{values}},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>


    </body>
</html>