<html>
    <head>
        <title>GardenPi</title>
    </head>
    <body>
        <h1>GardenPi Home</h1>
        <h2>{{page_name}}</h2>

        <p>{{page_description}}</p>
        <!-- chart element -->
        <canvas id="DataChart" width="600" height="400"></canvas>

 
        <br>
        <form action="{{url}}" method="get">
            <button type="submit">Home</button>
        </form>
        
        <script src="static/Chart.min.js"></script>
        <script>
            var ctx = document.getElementById('DataChart');

            var DataChart = new Chart(ctx, {
                type:"{{graph_type}}",
                data: {
                    labels: {{labels|tojson}},
                    datasets: [{
                        label: "{{page_name}}",
                        data: {{values}},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
</html>